
.flags-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
  gap: 7px; 
  padding: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
/*  background-image: url('https://globalmaps.org/wp-content/uploads/2023/10/World-Map-white-2048x1171.png'); */
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  
}


.flag {
  width: 42px; 
  height: 30px;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.flags-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}


.flag:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.flag {
  animation: fadeIn 0.5s ease-in-out;
}

.flag-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.flag-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}




